<h1 class= 'logo'>Stand Up</h1>
<p class='under_logo'>The App where your feelings are never erased!</p>

<!-- <p class='line'>______________________________________________________________</p> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <input class="button-primary" type="submit" <%= f.submit "Log in" %>

<% end %>

<%= render "devise/shared/links" %>
